

@{
    ViewData["Title"] = "Books";

}



<div class="container   ">
    <h1 class="text-center ">Category Page</h1>


    <div class="text-end mb-3   ">
        <a class="btn btn-success " asp-controller="Product" asp-action="UpSert"> <i class="bi bi-plus-circle ms-2"></i>Add Book</a>
    </div>
    <table id="myTable" class="rounded rounded-5 overflow-hidden table table-striped table-dark">
        <thead>
            <tr>
                <th >Title</th>
                <th >ISBN</th>
                <th >Price</th>
                <th >Author</th>
                <th >Categoy</th>
                <th></th>
            </tr>
        </thead>
       
    </table>
</div>
<a href="c:\asp work\bookland\bookland\views\product\upsert.cshtml">c:\asp work\bookland\bookland\views\product\upsert.cshtml</a>
@section scripts{   
    <script src="~/js/product.js"></script>
}